@use '../abstracts/mixins' as *;

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--fc-sub);
  text-align: center;

  .breadcrumb-link {
    font-size: 1.6rem;
    color: var(--fc-sub);
  }

  @include tablet {
    display: none;
  }
}
