---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

@media (prefers-color-scheme: light) {
  html:not([data-mode]),
  html[data-mode='light'] {
    --sidebar-hover-bg: rgba(223, 227, 231, 0.6);
    --fs-point: #4167d9;
  }
}

@media (prefers-color-scheme: light) {
  html[data-mode='dark'] {
    --sidebar-hover-bg: #2d2f34;
    --card-hover-bg: #2d2f34;
    --card-bg: #00000000;
    --avatar-border-color: rgba(0, 0, 0, 0.9);
    --fs-point: #4167d9;
  }
}

#sidebar {
  background: none;

  .site-title {
    color: #444;
    font-size: 1.55rem;
  }

  ul {
    li.nav-item {
      a.nav-link {
        border-radius: 0;

        i {
          display: none;
        }
      }
    }
  }

  .sidebar-bottom {
    justify-content: center;

    // delete twitter button
    [aria-label='twitter'] {
      display: none;
    }
  }
}

.post-tail-wrapper {
  .share-wrapper {
    .share-icons {
      [aria-label='Twitter'],
      [aria-label='Facebook'],
      [aria-label='Telegram'] {
        display: none;
      }
    }
  }
}

#topbar-wrapper {
  height: 4rem;
}

search {
  border-radius: 2.6rem;
  padding: 0 0.8rem;
  gap: 0.2rem;
  border-color: #e9e9e9;
}

#search-input {
  height: 2.6rem;
}

#topbar {
  search {
    margin-right: 0;
  }
}

.post-preview {
  box-shadow: none;

  &:hover {
    &::before {
      opacity: 0;
    }
  }
}

#post-list {
  .card {
    .post-preview {
      &:hover {
        .card-body {
          .card-title {
            color: var(--fs-point) !important;
          }
        }
      }
    }
  }
}

#post-list {
  .card-wrapper:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
  }
}

.content {
  h1 {
    margin-bottom: 1.5rem;
  }
}

main {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-top: 4rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.03rem;
  }
}

#toc-wrapper {
  ul {
    ul {
      padding-left: 1rem;

      ul {
        padding-left: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  #post-list {
    .card {
      .card-body {
        padding: 1.75rem 0;
      }
    }
  }
}

@media (min-width: 850px) {
  search {
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  search {
    max-width: calc(25% - 20px);
  }
}

@media (min-width: 1650px) {
  #sidebar {
    ul {
      li.nav-item {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}
